@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 26, 31, 37;
  --background-end-rgb: 0, 0, 0;

  /*
    placeholder variables, so IDE doesn't complain
    actual values are set in tailwind.config.js
  */
  --font-body: none;
}

* {
  -webkit-font-smoothing: antialiased;
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: var(--font-body);
  background: rgb(var(--background-start-rgb));
}

img {
  pointer-events: none;
  user-select: none;
}
